.dialog-wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	z-index: 2;

}

.dialog {
	margin: 0 auto;
	display: inline-block;
	-webkit-transform: translate(0,-95%);
	-moz-transform: translate(0,-95%);
	-ms-transform: translate(0,-95%);
	-o-transform: translate(0,-95%);
	transform: translate(0,-95%);

		.image {
	height: 25%;
	width: 25%;
	float: left;
	}
}