.wrap {
	position: relative;
	max-width: 70em;
	margin: 0 auto 2em auto;
	padding: 2em 0 0 0;
	@include clearfix;


}




.foodGrid{
	position: relative;
	width: 65%;
	height: 30em;
	float: right;
	padding: 0 0 0 0;
}

	.foodItem {
	position: relative;
	border: 1px solid #333;
	border-radius: 0.2em;
	text-align: left;
	background-color: #FEFCFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	position: relative;
	width: 10em;
	height: 10em;
	float: left;
	@include border-box;

	
		&.selected {
		background-color: #85A2F9;

		}
	}



.instructions-info {
	position: relative;
	width: 30%;
	float: left;
	text-align: left;
	padding: 0.5em 0.1em 0 0.5em;
	border: 1px solid #333;
	background-color: #C6F5CD;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	@include border-box;

	.image {
	height: 50%;
	width: 30%;
	float: left;
	padding: 0 0.5em 0 0;
	}

	h2 {
		position: absolute;
		top: -2em;
		width: 100%;
	}

	p {
	margin: 0 0 1em 0;
	padding-right: 0.5em;

	}

	buttonLeft {
	border: 1px solid #777777;
	background: #386BF5;
	color: white;
	padding: 0.3em;
	cursor: pointer;
	border-radius: 0.3em;
	display: block;
	margin: 0 auto 0.5em auto;
	width: 40%;
	float: left;
	}
	buttonRight {
	border: 1px solid #777777;
	background: #386BF5;
	color: white;
	padding: 0.3em;
	cursor: pointer;
	border-radius: 0.3em;
	display: block;
	margin: 0 auto 0.5em auto;
	width: 40%;
	float: right;
	}
}


